{% extends 'base.html.twig' %}

{% block title %}Upload file{% endblock %}

{% macro datatype_prototype(childForm) %}
   {{ form_widget(childForm) }}
{% endmacro %}

{% block body %}

{{ form_start(form) }}
    <label>Request:</label>
    <fieldset>
        <div>
          <label>Importer:</label>
          {{ form_widget(form.importer)}}
        </div>

        <div>
          <label>File:</label>
          {{ form_widget(form.request.file)}}
        </div>

        <div>
          <label>Test only:</label>
          {{ form_widget(form.request.testOnly)}}
        </div>

        <div>
          <label>Do  not delete:</label>
          {{ form_widget(form.request.doNotDelete)}}
        </div>
        
    </fieldset>

    <label>Result:</label>
     <fieldset>
    <div>
        <label>Is Error</label>
        {{ form_widget(form.isError)}}
        {{ form_widget(form.error)}}
    </div>
    <div>
        {{form_widget(form.deleted)}}
        <label>item(s) deleted from database</label>
    </div>
    <div>
        {{form_widget(form.inserted)}}
        <label>item(s) inserted into database</label>
    </div>
    <table>
        <tr>
        <th>Line number</th>
        <th>Line data</th>
        <th>Links created</th>
        <th>Error</th>
        </tr>
        {% for item in form.content %}
        <tr>
            <td></td>
            <td>{{ form_widget(item.data) }}</td>
            <td>{{ form_widget(item.count) }}</td>
            <td>{{ form_widget(item.error) }}</td>
        </tr>
        {% endfor %}
    <table>
    </fieldset>
{{ form_end(form) }}

{% endblock %}
